@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Tahoma, Arial, sans-serif;
}

.site_width, .banner_wrapper, .about, .resume {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.title {
  font-family: "Lato", sans-serif;
  color: #1B1B1B;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.25;
}

.title_fz12 {
  font-size: 1.2rem;
  line-height: 1.5;
}

.title_fz14 {
  font-size: 1.4rem;
  line-height: 1.5;
}

.title_fz16 {
  font-size: 1.6rem;
  line-height: 1.5;
}

.title_fz20 {
  font-size: 2.0rem;
  line-height: 1.5;
}

.title_fz36 {
  font-size: 3.6rem;
  line-height: 1.66;
}

.title_fz48 {
  font-size: 4.8rem;
}

.banner {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url("../img/bg.jpg") no-repeat center right/cover;
  padding-top: 205px;
}

.banner_title {
  width: 590px;
  margin-top: 10px;
}

.banner_btn {
  margin-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_link {
  color: #1B1B1B;
  font-weight: bold;
  padding: 12px 25px;
  background: transparent;
  text-transform: uppercase;
}

.button_link:hover {
  text-decoration: none;
  color: #1B1B1B;
}

.banner_uptitle {
  position: relative;
  padding: 5px 0 0 10px;
  z-index: 2;
}

.banner_uptitle::before {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  content: '';
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFC83D;
}

.btn {
  background: #FFC83D;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 12px 25px;
}

.btn:hover {
  color: #1B1B1B;
  background-color: #FFB700;
  text-decoration: none;
}

.btn:active {
  color: #1B1B1B;
  background-color: #E8AC15;
  text-decoration: none;
}

.sidepanel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  position: fixed;
  top: 230px;
  left: 50px;
  z-index: 3;
}

.sidepanel_link {
  width: 30px;
  height: 30px;
}

.sidepanel_link img {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.sidepanel_divider {
  height: 70px;
  width: 2px;
  background-color: #1B1B1B;
}

.sidepanel_text {
  height: 170px;
  width: 25px;
}

.sidepanel_text span {
  -webkit-transform: rotate(-90deg) translate(-30%, -310%);
      -ms-transform: rotate(-90deg) translate(-30%, -310%);
          transform: rotate(-90deg) translate(-30%, -310%);
  display: block;
  width: 170px;
  font-size: 1.6rem;
  line-height: 24px;
}

.sidepanel_link.linkedin {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.sidepanel_link.linkedin img {
  -webkit-border-radius: 15%;
          border-radius: 15%;
}

.burger_button {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
  cursor: pointer;
}

.burger_button span {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  height: 3px;
  background-color: #1B1B1B;
}

.burger_button span.burger_long {
  width: 36px;
}

.burger_menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.burger_menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.burger_menu_block {
  position: relative;
  width: 345px;
  background-color: #FFC83D;
  height: 100%;
  padding: 140px 0 0 40px;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  z-index: 10;
}

.burger_menu_close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.burger_menu_list {
  padding-left: 35px;
}

.burger_menu_link {
  position: relative;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 15px;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.burger_menu_link::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -35px;
  height: 15px;
  width: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #1B1B1B;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.burger_menu_link:hover {
  padding-left: 15px;
}

.burger_menu_link:hover::before {
  background-color: #FFFFFF;
}

.burger_menu_link:hover a {
  color: #FFFFFF;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.burger_menu_link a {
  color: #1B1B1B;
}

.burger_menu_social {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about {
  padding-top: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about_img_wrapper {
  width: 35%;
}

.about_description_wrapper {
  width: 55%;
}

.about_description .divider {
  margin: 0;
}

.about_title {
  padding: 5px 0 25px 12px;
  position: relative;
}

.about_title::before {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  content: '';
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFC83D;
}

.about_text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.4rem;
  line-height: 1.5;
}

.about_skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.about_skills_item {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  padding-bottom: 20px;
}

.about_skills_title {
  padding-bottom: 5px;
}

.about_skills_circle {
  width: 80%;
  position: relative;
  padding-right: 20px;
}

.about_skills_circle::before {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  content: '';
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFC83D;
}

.about_skills_circle:before {
  top: 0;
}

.about_skills_circle img {
  padding-left: 20px;
  padding-top: 15px;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: #FFC83D;
  margin: 25px auto 0 auto;
}

.resume {
  padding-top: 120px;
}

.resume_title {
  padding-top: 5px;
  text-align: center;
  position: relative;
}

.resume_title::before {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  content: '';
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFC83D;
}

.resume_title::before {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.resume_subtitle {
  text-align: center;
}

.resume_wrapper {
  display: grid;
  padding: 60px 65px 0 65px;
  grid-template-columns: repeat(2, 425px);
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}

.resume_column_title {
  position: relative;
  padding-left: 35px;
}

.resume_column_title::before {
  content: '';
  position: absolute;
  left: -7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #FFC83D;
}

.resume_column ul li {
  position: relative;
}

.resume_column ul li::after {
  content: '';
  width: 1px;
  height: -webkit-calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  top: -8px;
  left: 0;
  background-color: #1B1B1B;
}

.resume_item {
  position: relative;
}

.resume_item::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 40px;
  top: 68px;
  background-color: #1B1B1B;
}

.resume_item_head {
  position: relative;
  padding: 45px 0 0 100px;
}

.resume_item_body {
  padding-left: 43px;
  margin-top: 12px;
}

.resume_item_icon {
  width: 25px;
  position: absolute;
  top: 50px;
  left: 40px;
}

.resume_item_icon::before {
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
  content: '';
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFC83D;
}

.resume_item_icon img {
  position: absolute;
  top: 15px;
  left: 20px;
}
