.burger_button{
   position: absolute;
   top: 20px;
   right: 30px;
   height: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   z-index: 1;
<<<<<<< HEAD
   cursor: pointer;  
    
=======
   cursor: pointer;   
>>>>>>> develop
   span{
      display: block;
      flex-direction: column;
      width: 30px;
      height: 3px;
      background-color: $color06;
   }
   span.burger_long{
      width: 36px;
   }

}